#mpc-tool-label {
   position: absolute;
   left: 37px;
   top: 108px;
   font-weight: bold;
   font-size: 14px;
   color: black;
}

.mpc-tool-text {
   position: absolute;
   top: 131px;
   left: 15px;
   width: 70px;
   height: 70px;
   line-height: 67px;
   font-size: 15px;   
   
}

.mpc-tool-hyperlink {
   position: absolute;
   top: 131px;
   left: 94px;
   width: 70px;
   height: 70px;
}

.mpc-tool-line {
   position: absolute;
   top: 210px;
   left: 15px;
   width: 70px;
   height: 70px;
}

.mpc-tool-oval {
   position: absolute;
   top: 210px;
   left: 94px;
   width: 70px;
   height: 70px;
}

.mpc-tool-rectangle {
   position: absolute;
   top: 288px;
   left: 15px;
   width: 70px;
   height: 70px;
}

.mpc-tool-heart {
   position: absolute;
   top: 288px;
   left: 94px;
   width: 70px;
   height: 70px;
}

.mpc-tool-triangle {
   position: absolute;
   top: 365px;
   left: 15px;
   width: 70px;

   height: 70px;
}

.mpc-tool-pdf {
   position: absolute;
   top: 365px;
   left: 94px;
   width: 70px;
   height: 70px;
}

.mpc-tool-image {
   position: absolute;
   top: 443px;
   left: 15px;
   width: 70px;
   height: 70px;
}

.mpc-tool-youtube {
   position: absolute;
   top: 443px;
   left: 94px;
   width: 70px;
   height: 70px;
}
